* {
  /*outline: 1px dashed gold;*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

#world_container {
  width: auto;
  margin: 2rem auto;
  position: relative;
}

#world_container div {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
}

#world_container div.brick {
  background-color:#DCDCDC;
}

#world_container div.coin {
  background-image: url('https://goo.gl/DQ6212');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
}

#world_container div.heart {
  background-image: url('https://goo.gl/WuNfsd');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#ghost {
  background-image: url('https://goo.gl/3TJCkF');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150%;
  position: absolute;
}

#pacman {
  background: url('https://goo.gl/sxSDWS') no-repeat center;
  background-size: 95%;
  position: absolute;
}

#score {
  width: 30vw;
  margin: 1.7rem auto;
  color: #DCDCDC;
  font: lighter 3rem helvetica;
  text-align: center;
}
